<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".title_home"), root_path %></li>
        <li><%= link_to t(".title_help"), help_path %></li>
        <li><%= link_to t(".title_login"), "#" %></li>
        <li><%= link_to t("english"), local: "en" %></li>
        <li><%= link_to t("vietnam"), local: "vn" %></li>
      </ul>
    </nav>
  </div>
</header>
